*{
          margin: 0;
          padding: 0;
          /* margin-bottom: -20px; */
}


html, body{
height: 100%;
width: 100%;
}
.button{
          padding: 20px;
          border-radius: 30px;
          margin: 0 5px;
          cursor: pointer;
          width: 60px;
          border: solid black 3px;
         
}
.container{
          align-items: center;
}
.row{
          margin: 15px 0 ;
}
.input{
          height: 30px;
          width: 240px;
          border-radius: 15px;
          padding: 15px;

          border: solid black 3px;

}